@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cyclone Alert!</h1>
    <p>Learn about <a href="https://knowledge.aidr.org.au/resources/cyclone"> Tropical Cyclones</a>.</p>
</div>
